body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b0:hover {
    border: 1px solid #fff !important;
}

.navbar-brand {
    padding: 0 !important;

}

a i {
    color: #ffffff;
    align-self: center;
}


.nav-link {
    padding: 0 !important;
}

.form-control {
    width: 700px !important;
    border-radius: 5px !important;
    height: 36px !important;
}

select {
    background-color: gray !important;

}

select option {
    background-color: #fff;
}



.btn-group .dropdown-toggle::after {
    position: absolute;
    margin-top: 20px !important;
    margin-left: 0 !important;

}

.btn-group .dropdown-toggle {
    box-shadow: none !important;
    padding: 0 !important;
}


.dropdown-item:hover {
    color: orange !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}

.b1 .dropdown-toggle::after {
    position: absolute;
    margin-top: 25px !important;
    margin-left: -15px !important;

}

.offcanvas-header {
    background-color: #def3fd !important;
}

.list-group-item {
    border: none !important;
}

.offcanvas-body .nav-item:hover {
    background-color: #e7e6e6;
}

.btn-close {
    box-shadow: none !important;
}

.accordion-button {
    box-shadow: none !important;
    border-top: none !important;
    border-bottom: none !important;

}

.toggler {
    border-top: none !important;
    border-bottom: none !important;
}

.accordion-item {
    border: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: black !important;
}



.carousel-control-prev,
.carousel-control-next {
    bottom: 50% !important;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 5rem !important;
    width: 3rem !important;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.text-decoration-none:hover {
    color: orange !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}
.card-text{
    font-size: 14px !important;
}
.btn-primary{
    background-color: #cc0c39 !important;
    border: none !important;
}
.card-carousel-text{
    font-size: 14px !important;
    color: #cc0c39 !important;
    font-weight: 500;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    position: absolute;
    margin-top: 150px !important;
   
}
